# macOS
.DS_Store

# node modules
node_modules/

# build artifacts
dist/
dist-web/

# Tauri (Rust build outputs)
src-tauri/target/
src-tauri/gen/
src-tauri/WixTools/

# editor / OS
*.log
.idea/
.vscode/
